.containedBtn {
  background-color: #3d7a35 !important;
  align-self: flex-end;
  margin-right: 1.5rem !important;
}

.containedBtn:hover {
  background-color: #4c8d44 !important;
}

.error {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  align-self: flex-start;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
