.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding-bottom: 5rem;
}

.title-inp {
  width: 100%;
  height: 1.5rem;
  margin: 1rem 0;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid #151515;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-bottom: 1px solid #11ff09;
  }
}

.menu-bar {
  width: 100%;
  border: 1px solid #151515;
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  & button {
    outline: none;
    padding: 0.2rem 0.5rem;
    border: 1px solid #151515;
    border-radius: 10px;
    margin: 0.2rem 0.2rem;
    cursor: pointer;
    font-family: 'JetBrainsMono', monospace;
    font-size: 1rem;
  }
  & button:hover {
    transform: translateY(-2px);
  }
}

.content-editor {
  width: 100%;
  border: none;
  border-right: 1px solid #151515;
  border-bottom: 1px solid #151515;
  border-left: 1px solid #151515;
  padding: 1rem;
}

.tiptap {
  padding: 0.5rem;
}

.tags {
  width: 100%;
  height: 1.5rem;
  margin: 1rem 0;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid #151515;
  outline: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-bottom: 1px solid #00fbff;
  }
}

.preview-btn {
  border: none;
  outline: none;
  padding: 0.2rem;
  background: #76f329a4;
  color: #151515;
  font-weight: 600;
  cursor: pointer;
}

.is-active {
  background: #151515;
  color: rgb(255, 255, 255);
}

/* Basic editor styles */

ul,
ol {
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  & code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
}

img {
  display: block;
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
